# URL publica do projeto no Vercel
PUBLIC_BASE_URL=https://seu-projeto.vercel.app


# SMTP Gmail para confirmacao de inscricao
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-app-do-gmail
EMAIL_FROM="Vix Cursos <seu-email@gmail.com>"


