<footer class="footer" id="rodape">
    <div class="footer-grid">
        <div class="footer-brand">
            <div class="nav-brand" style="margin-bottom: 16px;">
                <img src="{{LOGO_SRC}}" class="footer-brand-logo" alt="Logo VIX Cursos">
            </div>
            <p>Conectando cidadaos as melhores oportunidades de qualificacao profissional gratuita em Vitoria-ES.</p>
        </div>
        <div class="footer-col">
            <h4>Navegacao</h4>
            <a href="{{COURSES_URL}}">Cursos</a>
            <a href="{{ABOUT_URL}}">Sobre</a>
            <a href="{{VOCATIONAL_URL}}">Quiz Vocacional</a>
        </div>
        <div class="footer-col">
            <h4>Contato</h4>
            <a href="https://www.google.com/maps/place/Prefeitura+Municipal+de+Vit%C3%B3ria/@-20.3176348,-40.3112411,17z/data=!4m15!1m8!3m7!1s0xb817d76dc19c8f:0x4ae18dbdf2677fd9!2sAv.+Mal.+Mascarenhas+de+Moraes,+1927+-+Bento+Ferreira,+Vit%C3%B3ria+-+ES,+29050-625!3b1!8m2!3d-20.3174603!4d-40.3100591!16s%2Fg%2F11bw444050!3m5!1s0xb817ce682b7b4d:0x325cfa98f8828786!8m2!3d-20.3178577!4d-40.3100258!16s%2Fg%2F1td01q_b?entry=ttu&g_ep=EgoyMDI2MDMzMS4wIKXMDSoASAFQAw%3D%3D">Av. Marechal Mascarenhas, 1927</a>
            <a href="#">atendimento@vixcursos.gov.br</a>
            <a href="#">(27) 3382-6000</a>
            <a href="{{ADMIN_URL}}" style="color: #FF8A5A;">Painel do Servidor</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2026 VIX Cursos. Todos os direitos reservados. Desenvolvido pela PMV.</p>
    </div>
</footer>
